* {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    font-size: 1.2rem;
  }

  body{
    height: 100vh;
  }

  .header{
    padding: 10px;
    background-color: var(--card-container-bg);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .header .brand{
    display: flex;
    align-items: center;
  }

  .header .brand img{
    border-radius: 50%;
    height: 50px;
    cursor: pointer;
  }

  .header .brand span{
    margin-left: 10px;
    cursor: pointer;
  }

  .header .bg .dot{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
    border: 1px solid #dfdfdf;
  }

  .header .bg .active{
    width: 30px;
    height: 30px;
  }

   .neutral{
    background-color: var(--header-neutral);
  }

 .med-dark{
    background-color: var(--header-mid-dark);
  }

 .dark{
    background-color: var(--header-dark);
  }

 .gradient{
  background: linear-gradient(115deg, #ed12b2, #3af2fc)
  }

  .addTask{
    max-width: 600px;
    margin: auto;
    display: flex;
    justify-content: center;
  }

  .addTask form{
    margin: 1rem auto;
  }
  .addTask input{
    padding: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .addTask button{
    background-color: var(--button-submit);
    padding: 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .addTask button:active{
    background-color: var(--button-submit-active);
  }

  .showTask{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--card-container-bg);
    max-width: 800px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: auto;
  }

  .showTask .container-head{
    width: 700px;
    padding: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
  }

  .showTask .container-head .make-btn{
    background-color: var(--button-clear);
    padding:5px;
    border-radius: 10px;
    cursor: pointer;
  }

  .showTask .container-head .make-btn:active{
    background-color: var(--button-clear-active);
  }

 .showTask .container-body{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
 }
 
 .showTask .container-body li{
  list-style: none;
  margin: 10px;
  background-color: #d1d5db;
  padding: 10px;
 }

 .showTask .container-body .group{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
 }

 .showTask .container-body .group .name{
  font-size: 1.1rem;
 }

 .showTask .container-body .group .icon i{
  margin-left: 10px;
  font-size: 1rem;
 }

 .showTask .container-body .time{
  font-size: 15px;
 }

 .showTask i.bi-pencil-square{
  font-size: 18px;
  color: #1363DF;
  cursor: pointer;
}

.showTask i.bi-pencil-square:active{
   color: lightseagreen;
}

.showTask i.bi-trash{
  font-size: 18px;
  color: #D82148;
  cursor: pointer;
}

.showTask i.bi-trash:active{
   color: lightcoral;

}


 @media only screen and (max-width: 800px) {
  .showTask li{
    width: 100%;
  }
}